%font-light 	{font-weight: 100;}
%font-regular 	{font-weight: 400;}
%font-bold 		{font-weight: 600;}

$font-heading:	"Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-content:	"Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-fixed:	monospace;

@import "../modules/all";